Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update tests
  nemo_automodel/components/models/mistral3/model.py
  tests/unit_tests/models/mistral3/test_mistral3_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

patch for dim mismatch
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Add and fix tests
  tests/unit_tests/models/biencoder/test_llama_bidirectional_model.py
  tests/unit_tests/models/biencoder/test_state_dict_adapter.py
Owners: none

feat: port ministral3 to transformers v4 (#934)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/models/mistral3/__init__.py
  nemo_automodel/components/models/mistral3/model.py
  tests/unit_tests/models/mistral3/test_mistral3_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: port ministral3 to transformers v4 (#934)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/models/mistral3/__init__.py
  nemo_automodel/components/models/mistral3/model.py
  tests/unit_tests/models/mistral3/test_mistral3_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: port ministral3 to transformers v4 (#934)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/models/mistral3/__init__.py
  nemo_automodel/components/models/mistral3/model.py
  tests/unit_tests/models/mistral3/test_mistral3_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Update transformers to latest version 4.57.3 (#890)
  docker/common/uv-pytorch.lock
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
  pyproject.toml
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
  uv.lock
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: perf regressions for custom MoEs (#881)` (#929)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/models/gpt_oss/test_gptoss_rope_utils.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add ministral3 configs and improve tie_emb detection (#915)
  examples/vlm_finetune/mistral/ministral3_14b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_3b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_8b_medpix.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/checkpoint/utils.py
  tests/unit_tests/checkpoint/test_addons.py
  tests/unit_tests/utils/test_checkpoint_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

merge when none split
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: port ministral3 to transformers v4 (934)` into `r0.2.0` (#939)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/models/mistral3/__init__.py
  nemo_automodel/components/models/mistral3/model.py
  tests/unit_tests/models/mistral3/test_mistral3_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: ci: Update transformers to latest version 4.57.3 (#890) (#940)
  docker/common/uv-pytorch.lock
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
  pyproject.toml
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
  uv.lock
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

rm autodocstr
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: feat: add ministral3 configs and improve tie_emb detection (#915) (#941)
  examples/vlm_finetune/mistral/ministral3_14b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_3b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_8b_medpix.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/checkpoint/utils.py
  tests/unit_tests/checkpoint/test_addons.py
  tests/unit_tests/utils/test_checkpoint_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

log actual yaml to stdout
  nemo_automodel/components/config/loader.py
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

simplofy
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/config/loader.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

profile nsys scope
  nemo_automodel/_cli/app.py
  nemo_automodel/autonvtx/__init__.py
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/launcher/slurm/config.py
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
  nemo_automodel/recipes/llm/benchmark.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

bump commit to 49e63538e64b00780e424e34bc4f193dcfeba75c
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Update pyproject.toml
  pyproject.toml
Owners: @nvidia-nemo/automation

fix
  pyproject.toml
Owners: @nvidia-nemo/automation

Update pyproject.toml
  pyproject.toml
Owners: @nvidia-nemo/automation

lowerbound liger to 0.6.4
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

fix
  nemo_automodel/components/checkpoint/_backports/hf_storage.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add benchmark support (with nsys) in app
  nemo_automodel/_cli/app.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Pip install liger kernel on docker
  docker/Dockerfile
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

fix
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
Owners: none

add remapping
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: mute ministral3 autodocstring warning (#946)
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: mute ministral3 autodocstring warning (#946)
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: handle zero active experts for 1 ep rank in GroupedExperts (#935)
  nemo_automodel/components/moe/layers.py
  tests/unit_tests/moe/run_zero_active_experts_gradient_test.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: handle zero active experts for 1 ep rank in GroupedExperts (#935)
  nemo_automodel/components/moe/layers.py
  tests/unit_tests/moe/run_zero_active_experts_gradient_test.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: handle zero active experts for 1 ep rank in GroupedExperts (#935)
  nemo_automodel/components/moe/layers.py
  tests/unit_tests/moe/run_zero_active_experts_gradient_test.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/autonvtx/__init__.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
