Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

lint
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/models/deepseek_v3/layers.py
  nemo_automodel/components/models/deepseek_v3/rope_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

use get_as_string
  nemo_automodel/components/config/loader.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update test
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

add ministral config
  examples/vlm_finetune/mistral/ministral3_3b_medpix.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

chore: replace model tag with actual path to address CI failure in transformers version bump
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
Owners: none

fix rope
  nemo_automodel/components/models/glm4_moe/model.py
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
  nemo_automodel/components/models/qwen3_moe/model.py
  nemo_automodel/components/models/qwen3_next/model.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_model.py
  tests/unit_tests/models/qwen3_vl_moe/test_qwen3_vl_moe_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update VLM table
  docs/model-coverage/vlm.md
Owners: none

Update vlm.md
  docs/model-coverage/vlm.md
Owners: none

Update vlm.md
  docs/model-coverage/vlm.md
Owners: none

add ministral 8b and 14b configs
  examples/vlm_finetune/mistral/ministral3_14b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_8b_medpix.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

refac tie embed helper
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/utils/model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add tests
  tests/unit_tests/utils/test_model_utils.py
Owners: none

format and lint
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/utils/model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Revert "format and lint"
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/utils/model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

format
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/utils/model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

minor fix in yaml
  examples/vlm_finetune/mistral/ministral3_14b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_3b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_8b_medpix.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

chore: replace model tag with actual path to address CI failure in tr… (#914)
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
Owners: none

chore: replace model tag with actual path to address CI failure in tr… (#918)
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
Owners: none

hf_home -> hf_hub_cache
  nemo_automodel/recipes/biencoder/train_biencoder.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint + fixing custom model download
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

train with multi pos docs
  examples/biencoder/llama3_2_1b_biencoder.yaml
  nemo_automodel/components/datasets/llm/retrieval_dataset.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing unit test
  tests/unit_tests/_transformers/test_auto_model.py
Owners: none

ci: Update transformers to latest version 4.57.3 (#890)
  docker/common/uv-pytorch.lock
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
  pyproject.toml
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
  uv.lock
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Update transformers to latest version 4.57.3 (#890)
  docker/common/uv-pytorch.lock
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
  pyproject.toml
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
  uv.lock
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add support for parquet files
  tools/preprocess_megatron_dataset.py
Owners: none

deltalake support
  docs/guides/llm/column-mapped-text-instruction-dataset.md
  nemo_automodel/components/datasets/llm/__init__.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/components/datasets/llm/delta_lake_dataset.py
  tests/unit_tests/datasets/llm/test_delta_lake_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update tests
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  tests/unit_tests/checkpoint/test_addons.py
  tests/unit_tests/utils/test_checkpoint_utils.py
  tests/unit_tests/utils/test_model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update moe + peft
  CHANGELOG.md
Owners: none

fix
  nemo_automodel/components/utils/model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/utils/test_model_utils.py
Owners: none

add ckpt utils
  nemo_automodel/components/checkpoint/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update vlm.md
  docs/model-coverage/vlm.md
Owners: none

docs: Update VLM table (#917)
  docs/model-coverage/vlm.md
Owners: none

docs: Update VLM table (#917)
  docs/model-coverage/vlm.md
Owners: none

Update nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update tests
  tests/unit_tests/utils/test_checkpoint_utils.py
Owners: none
