Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

Update pyproject
  pyproject.toml
Owners: @nvidia-nemo/automation

fix sp parallel
  nemo_automodel/components/distributed/optimized_tp_plans.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add additional test
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_qwen2_custom.sh
  tests/functional_tests/hf_transformer_finetune/test_hf_transformer_sft.py
Owners: none

add test
  tests/unit_tests/checkpoint/test_addons.py
Owners: none

fmt
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing code for best checkpoint
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

making best metric key configuable
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding safety during init
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/distributed/init_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: ep shard state dict conversion (815)` into `r0.2.0` (#829)
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add answer only masking in ColumnMappedDataset (#832)
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add answer only masking in ColumnMappedDataset (#832)
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add answer only masking in ColumnMappedDataset (#832)
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: Cast norm to fp32 in clip_grad_norm (825)` into `r0.2.0` (#830)
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing unit test
  tests/unit_tests/recipes/test_base_recipe.py
Owners: none

feat: add internvl recipe (#823)
  examples/vlm_finetune/internvl/internvl_3_5_4b.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/vlm/utils.py
  tests/unit_tests/checkpoint/test_addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add internvl recipe (#823)
  examples/vlm_finetune/internvl/internvl_3_5_4b.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/vlm/utils.py
  tests/unit_tests/checkpoint/test_addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: add answer only masking in ColumnMappedDataset (832)` into `r0.2.0` (#834)
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: checkpoint custom model code files (#810)
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/checkpoint/checkpointing.py
  tests/unit_tests/checkpoint/test_addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add internvl recipe (#823)
  examples/vlm_finetune/internvl/internvl_3_5_4b.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/vlm/utils.py
  tests/unit_tests/checkpoint/test_addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: adding safety during model init (#833)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/distributed/init_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: adding safety during model init (#833)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/distributed/init_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix ci
  tests/unit_tests/distributed/test_optimized_tp_plans.py
Owners: none

Build bitsandbytes from source
  docker/Dockerfile
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

cp: Add internvl recipe #823 #810 (#835)
  examples/vlm_finetune/internvl/internvl_3_5_4b.yaml
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/vlm/utils.py
  tests/unit_tests/checkpoint/test_addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Add OSS NOTICES.txt file to docker build
  docker/Dockerfile
Owners: @nvidia-nemo/automation

Add default RC_DATE
  docker/Dockerfile
Owners: @nvidia-nemo/automation

fix: add num_nodes for alignment
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/qwen/qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add num_nodes
  examples/llm_finetune/qwen/custom_qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

f
  tests/functional_tests/hf_peft/test_hf_peft.py
  tests/utils/test_utils.py
Owners: none

add changed-tests-fast
  .github/workflows/cicd-main.yml
  tests/run_test.sh
Owners: @nvidia-nemo/automation

build: Add OSS NOTICES.txt file to docker build (#838)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

build: Add OSS NOTICES.txt file to docker build (#838)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

build: Add OSS NOTICES.txt file to docker build (#838)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

fix
  tests/unit_tests/quantization/test_qat.py
Owners: none

remove peft
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing train_ft
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

initial add
  nemo_automodel/components/models/qwen3_vl_moe/__init__.py
  nemo_automodel/components/models/qwen3_vl_moe/model.py
  nemo_automodel/components/models/qwen3_vl_moe/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fp32 rotary for visual
  nemo_automodel/components/models/qwen3_vl_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
