Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add oot parallelism decorator (#736)
  nemo_automodel/components/distributed/parallelizer.py
  tests/unit_tests/distributed/test_register_parallel_strategy.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add oot parallelism decorator (#736)
  nemo_automodel/components/distributed/parallelizer.py
  tests/unit_tests/distributed/test_register_parallel_strategy.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding mlflow
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

misc
  docs/guides/llm/pretraining.md
  docs/guides/overview.md
  docs/index.md
  docs/launcher/cluster.md
  docs/launcher/local-workstation.md
  docs/model-coverage/overview.md
Owners: none

Update docs/guides/overview.md
  docs/guides/overview.md
Owners: none

Update docs/guides/overview.md
  docs/guides/overview.md
Owners: none

doc fixes
  docs/guides/llm/pretraining.md
  docs/guides/overview.md
  docs/launcher/cluster.md
  docs/launcher/local-workstation.md
  docs/model-coverage/overview.md
Owners: none

fix
  docs/guides/llm/pretraining.md
Owners: none

sample
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

constant lr
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

simplify
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/unit_tests/quantization/test_qat.py
Owners: none

qat wip
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
  nemo_automodel/components/quantization/qat.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add qat test
  tests/functional_tests/hf_peft/test_hf_peft.py
Owners: none

fix
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

do not leak logger level outside tests
  tests/unit_tests/utils/test_model_utils.py
Owners: none

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lora
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat_peft.yaml
  nemo_automodel/components/quantization/qat.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/utils/test_model_utils.py
Owners: none

lower-bound torchao version
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

fix
  docs/guides/llm/pretraining.md
Owners: none

feat: fp32 lm_head and fp32 apply_rope options for MoE (#769)
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: fp32 lm_head and fp32 apply_rope options for MoE (#769)
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding mlflow (#776)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

feat: adding mlflow (#776)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

feat: Support PEFT with PP
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/benchmark/configs/peft/llama_3_3_70b_instruct_squad_peft_pp.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/qwen/qwen3_8b_hellaswag_pp_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/llama3_3/llama_3_3_70b_instruct_squad_peft_pp.yaml
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add streaming ds
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

clean up prints
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update train recipe
  examples/biencoder/llama3_2_1b_biencoder.yaml
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add shard and repeat on exhaust
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add handle for when ds not have enough shard
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

improvement from parallelism
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_squad_pack_peft_benchmark.yaml
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallel_styles.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/checkpoint/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add ckpt from/to_hf and tests
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/models/llama/__init__.py
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/llama/state_dict_adapter.py
  tests/unit_tests/models/llama_custom/test_llama_custom_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
