Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

add test
  tests/unit_tests/config/test_allowed_import_prefixes.py
Owners: none

add test
  tests/unit_tests/datasets/vlm/test_collate_fns.py
Owners: none

Update to latest transformers version
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

add test for instantiate_path
  tests/unit_tests/config/test_loader.py
Owners: none

add test for glue
  tests/unit_tests/datasets/test_glue_mrpc.py
Owners: none

add test
  nemo_automodel/components/datasets/utils.py
  tests/unit_tests/datasets/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

use default collater
  docs/guides/llm/sequence-classification.md
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
  nemo_automodel/components/datasets/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

moving location
  nemo_automodel/components/training/signal_handler.py
  nemo_automodel/components/training/step_scheduler.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/components/training/test_signal_handler.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

download on all nodes + warning
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

moving all logic to step scheduler
  nemo_automodel/components/training/step_scheduler.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/components/datasets/llm/seq_cls.py
  nemo_automodel/components/datasets/utils.py
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

include padding arg in _package_tokenized_example
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

propagate args
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add padding/truncate
  nemo_automodel/components/datasets/llm/squad.py
  tests/unit_tests/datasets/llm/test_squad.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: introduce NEMO_ENABLE_USER_MODULES (#747)
  nemo_automodel/components/config/loader.py
  tests/unit_tests/config/test_allowed_import_prefixes.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: introduce NEMO_ENABLE_USER_MODULES (#747)
  nemo_automodel/components/config/loader.py
  tests/unit_tests/config/test_allowed_import_prefixes.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing incorrect sig handling order
  nemo_automodel/components/training/step_scheduler.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

test fix
  tests/unit_tests/_transformers/test_auto_model.py
Owners: none

Update utils.py
  nemo_automodel/components/datasets/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/components/datasets/llm/squad.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add num_nodes to benchmark configs
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

change defaults
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add convert_single_tensor_to_hf API for state dict adapter
  nemo_automodel/components/checkpoint/state_dict_adapter.py
  nemo_automodel/components/models/deepseek_v3/state_dict_adapter.py
  nemo_automodel/components/models/glm4_moe/state_dict_adapter.py
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  nemo_automodel/components/models/qwen3_moe/state_dict_adapter.py
  nemo_automodel/components/models/qwen3_next/state_dict_adapter.py
  nemo_automodel/components/moe/state_dict_mixin.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_state_dict_adapter.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_state_dict_adapter.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_state_dict_adapter.py
  tests/unit_tests/moe/test_state_dict_mixin.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update to latest transformers version 4.57.1
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Update to latest transformers version 4.57.1
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Update to latest transformers version 4.57.1
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

bug fix
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

allow overriding padding arg
  tests/functional_tests/conftest.py
Owners: none

fix
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

udpate defaults
  nemo_automodel/components/datasets/llm/squad.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: sequence classification finetune (#688)
  docs/guides/llm/sequence-classification.md
  docs/index.md
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
  examples/llm_seq_cls/seq_cls.py
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/config/loader.py
  nemo_automodel/components/datasets/llm/seq_cls.py
  nemo_automodel/components/datasets/utils.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  tests/unit_tests/config/test_loader.py
  tests/unit_tests/datasets/test_glue_mrpc.py
  tests/unit_tests/datasets/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: sequence classification finetune (#688)
  docs/guides/llm/sequence-classification.md
  docs/index.md
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
  examples/llm_seq_cls/seq_cls.py
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/config/loader.py
  nemo_automodel/components/datasets/llm/seq_cls.py
  nemo_automodel/components/datasets/utils.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  tests/unit_tests/config/test_loader.py
  tests/unit_tests/datasets/test_glue_mrpc.py
  tests/unit_tests/datasets/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add padding
  tests/functional_tests/hf_consolidated_fsdp/L2_HF_Consolidated_PP2_LLM_Checkpoint.sh
Owners: none

feat: add num_nodes to benchmark configs (#758)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add num_nodes to benchmark configs (#758)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: LR scheduler state loading fix (#764)
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: LR scheduler state loading fix (#764)
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding SIGTERM handling (#755)
  nemo_automodel/components/training/signal_handler.py
  nemo_automodel/components/training/step_scheduler.py
  tests/unit_tests/components/training/test_signal_handler.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
