Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: enable meta device by default (#797)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_2layer_proxy_torch_sdpa.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_hf.yaml
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_nn.yaml
  tests/functional_tests/training/test_meta_device_sft.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
  tests/unit_tests/utils/test_model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: checkpoint custom model code files (#810)
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/checkpoint/checkpointing.py
  tests/unit_tests/checkpoint/test_addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: checkpoint custom model code files (#810)
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/checkpoint/checkpointing.py
  tests/unit_tests/checkpoint/test_addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: qwen3 vl 30b ootb recipe (#808)
  examples/vlm_finetune/qwen3/qwen3_vl_30b.yaml
  nemo_automodel/components/datasets/vlm/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: qwen3 vl 30b ootb recipe (#808)
  examples/vlm_finetune/qwen3/qwen3_vl_30b.yaml
  nemo_automodel/components/datasets/vlm/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/models/biencoder/biencoder_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/components/models/biencoder/biencoder_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix import unpack
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Include megatron ``Makefile`` in package data (#798)
  pyproject.toml
Owners: @nvidia-nemo/automation

fix: Include megatron ``Makefile`` in package data (#798)
  pyproject.toml
Owners: @nvidia-nemo/automation

fix: Include megatron ``Makefile`` in package data (#798)
  pyproject.toml
Owners: @nvidia-nemo/automation

cp: `(803)` into `r0.2.0` (#806)
  nemo_automodel/components/datasets/llm/megatron_dataset.py
  tests/unit_tests/datasets/llm/test_megatron_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: auto detect base weights dequant (796)` into `r0.2.0` (#801)
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix torchrun --nproc-per-node=1
  nemo_automodel/components/distributed/init_utils.py
  nemo_automodel/components/loggers/metric_logger.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

litn
  nemo_automodel/components/loggers/metric_logger.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding unit tests
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
Owners: none

Make mamba install optional
  docker/Dockerfile
Owners: @nvidia-nemo/automation

perf: add qwen2.5 32b lora perf (#802)
  docs/performance-summary.md
  examples/llm_finetune/qwen/qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

perf: add qwen2.5 32b lora perf (#802)
  docs/performance-summary.md
  examples/llm_finetune/qwen/qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

perf: add qwen2.5 32b lora perf (#802)
  docs/performance-summary.md
  examples/llm_finetune/qwen/qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `perf: add qwen2.5 32b lora perf (802)` into `r0.2.0` (#816)
  docs/performance-summary.md
  examples/llm_finetune/qwen/qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: enable meta device by default (797)` into `r0.2.0` (#812)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_2layer_proxy_torch_sdpa.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_hf.yaml
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_nn.yaml
  tests/functional_tests/training/test_meta_device_sft.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
  tests/unit_tests/utils/test_model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update Makefile
  nemo_automodel/components/datasets/llm/megatron/Makefile
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Set max_steps config option for nanogpt pretraining
  examples/llm_pretrain/nanogpt_pretrain.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: Include megatron ``Makefile`` in package data (798)` into `r0.2.0` (#813)
  pyproject.toml
Owners: @nvidia-nemo/automation

add internvl recipe
  examples/vlm_finetune/internvl/internvl_3_5_4b.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/vlm/utils.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add tests
  tests/unit_tests/datasets/llm/test_retrieval_collator.py
  tests/unit_tests/datasets/llm/test_retrieval_dataset.py
  tests/unit_tests/models/biencoder/test_biencoder_model.py
  tests/unit_tests/models/biencoder/test_llama_bidirectional_model.py
Owners: none

fix single device init
  nemo_automodel/components/distributed/init_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/components/distributed/init_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding tokenizer trust_remote_code
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: revert recipe change for memory fragmentation OOM in Llama3 70B
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add NeMo Biencoder (#745)
  examples/biencoder/finetune.py
  examples/biencoder/llama3_2_1b_biencoder.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/llm/retrieval_collator.py
  nemo_automodel/components/datasets/llm/retrieval_dataset.py
  nemo_automodel/components/models/biencoder/__init__.py
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
  nemo_automodel/recipes/biencoder/__init__.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
  tests/unit_tests/datasets/llm/test_retrieval_collator.py
  tests/unit_tests/datasets/llm/test_retrieval_dataset.py
  tests/unit_tests/models/biencoder/test_biencoder_model.py
  tests/unit_tests/models/biencoder/test_llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add NeMo Biencoder (#745)
  examples/biencoder/finetune.py
  examples/biencoder/llama3_2_1b_biencoder.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/llm/retrieval_collator.py
  nemo_automodel/components/datasets/llm/retrieval_dataset.py
  nemo_automodel/components/models/biencoder/__init__.py
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
  nemo_automodel/recipes/biencoder/__init__.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
  tests/unit_tests/datasets/llm/test_retrieval_collator.py
  tests/unit_tests/datasets/llm/test_retrieval_dataset.py
  tests/unit_tests/models/biencoder/test_biencoder_model.py
  tests/unit_tests/models/biencoder/test_llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add NeMo Biencoder (#745)
  examples/biencoder/finetune.py
  examples/biencoder/llama3_2_1b_biencoder.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/llm/retrieval_collator.py
  nemo_automodel/components/datasets/llm/retrieval_dataset.py
  nemo_automodel/components/models/biencoder/__init__.py
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
  nemo_automodel/recipes/biencoder/__init__.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
  tests/unit_tests/datasets/llm/test_retrieval_collator.py
  tests/unit_tests/datasets/llm/test_retrieval_dataset.py
  tests/unit_tests/models/biencoder/test_biencoder_model.py
  tests/unit_tests/models/biencoder/test_llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: Add NeMo Biencoder (745)` into `r0.2.0` (#819)
  examples/biencoder/finetune.py
  examples/biencoder/llama3_2_1b_biencoder.yaml
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/llm/retrieval_collator.py
  nemo_automodel/components/datasets/llm/retrieval_dataset.py
  nemo_automodel/components/models/biencoder/__init__.py
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
  nemo_automodel/recipes/biencoder/__init__.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
  tests/unit_tests/datasets/llm/test_retrieval_collator.py
  tests/unit_tests/datasets/llm/test_retrieval_dataset.py
  tests/unit_tests/models/biencoder/test_biencoder_model.py
  tests/unit_tests/models/biencoder/test_llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Add mamba-ssm and causal-conv1d dep (#811)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

ci: Add mamba-ssm and causal-conv1d dep (#811)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
