Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

safety
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add glm 4.5 air finetuning config (#873)
  examples/llm_finetune/glm/glm_4.5_air_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add glm 4.5 air finetuning config (#873)
  examples/llm_finetune/glm/glm_4.5_air_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add glm 4.5 air finetuning config (#873)
  examples/llm_finetune/glm/glm_4.5_air_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: NeMoAutoTokenizer (#878)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/base_recipe.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: NeMoAutoTokenizer (#878)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/base_recipe.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: NeMoAutoTokenizer (#878)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/base_recipe.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: perf regressions for custom MoEs
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/moe/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

log actual yaml to stdout
  nemo_automodel/components/config/loader.py
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: NeMoAutoTokenizer (878)` into `r0.2.0` (#880)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/base_recipe.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: add glm 4.5 air finetuning config (873)` into `r0.2.0` (#879)
  examples/llm_finetune/glm/glm_4.5_air_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/models/gpt_oss/test_gptoss_rope_utils.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
Owners: none

fix
  tests/unit_tests/models/gpt_oss/test_gptoss_rope_utils.py
Owners: none

feat: add custom implementation for qwen3vlmoe (#843)
  examples/vlm_finetune/qwen3/qwen3_vl_moe_30b_te_deepep.yaml
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/models/qwen3_vl_moe/__init__.py
  nemo_automodel/components/models/qwen3_vl_moe/model.py
  nemo_automodel/components/models/qwen3_vl_moe/state_dict_adapter.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
  tests/unit_tests/models/qwen3_vl_moe/test_qwen3_vl_moe_model.py
  tests/unit_tests/models/qwen3_vl_moe/test_qwen3_vl_moe_state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add custom implementation for qwen3vlmoe (#843)
  examples/vlm_finetune/qwen3/qwen3_vl_moe_30b_te_deepep.yaml
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/models/qwen3_vl_moe/__init__.py
  nemo_automodel/components/models/qwen3_vl_moe/model.py
  nemo_automodel/components/models/qwen3_vl_moe/state_dict_adapter.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
  tests/unit_tests/models/qwen3_vl_moe/test_qwen3_vl_moe_model.py
  tests/unit_tests/models/qwen3_vl_moe/test_qwen3_vl_moe_state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

wip
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

step
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

baby steps
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update to latest transformers version 4.57.2
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Bump torch to 2.9 and transformers to 4.57.1
  pyproject.toml
Owners: @nvidia-nemo/automation

fix
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

bump
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

build: bumping timm version (#886)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

build: bumping timm version (#886)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

consolidate config
  examples/vlm_finetune/qwen3/qwen3_omni_30b.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

chore: skip ckpt loading for tests
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/qwen/custom_qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/_transformers/registry.py
  tests/unit_tests/_transformers/test_registry.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

copyright
  tests/unit_tests/_transformers/test_registry.py
Owners: none

fix test
  tests/unit_tests/datasets/vlm/test_collate_fns.py
Owners: none

fix: moving registry imports under a try catch block (#889)
  nemo_automodel/_transformers/registry.py
  tests/unit_tests/_transformers/test_registry.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: moving registry imports under a try catch block (#889)
  nemo_automodel/_transformers/registry.py
  tests/unit_tests/_transformers/test_registry.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update to latest transformers version 4.57.3
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

fix
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: support validation for packed sequences when using TE attention
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: consolidate qwen3omni recipes (#885)
  examples/vlm_finetune/qwen3/qwen3_omni_30b.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
  tests/unit_tests/datasets/vlm/test_collate_fns.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: consolidate qwen3omni recipes (#885)
  examples/vlm_finetune/qwen3/qwen3_omni_30b.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
  tests/unit_tests/datasets/vlm/test_collate_fns.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

0.2.0
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
