Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

update news
  README.md
  docs/index.md
Owners: @akoumpa, @HuiyingLi

feat: update news (#785)
  README.md
  docs/index.md
Owners: @akoumpa, @HuiyingLi

feat: update news (#785)
  README.md
  docs/index.md
Owners: @akoumpa, @HuiyingLi

fix: peft bug fix inside sequence classification recipe (#781)
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: peft bug fix inside sequence classification recipe (#781)
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

unit tests for coverage
  tests/unit_tests/loggers/test_mlflow_utils.py
  tests/unit_tests/training/test_train_ft_mlflow_logging.py
Owners: none

feat: add streaming ds (#778)
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/datasets/llm/test_column_mapped_text_instruction_iterable.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add streaming ds (#778)
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/datasets/llm/test_column_mapped_text_instruction_iterable.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: introduce ScopedModuleOffloading in KD to reduce memory usage (#774)
  nemo_automodel/components/training/utils.py
  nemo_automodel/recipes/llm/kd.py
  tests/unit_tests/training/test_train_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: introduce ScopedModuleOffloading in KD to reduce memory usage (#774)
  nemo_automodel/components/training/utils.py
  nemo_automodel/recipes/llm/kd.py
  tests/unit_tests/training/test_train_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ifx
  nemo_automodel/components/quantization/qat.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

fix
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

feat: add mfu estimated for lora
  nemo_automodel/recipes/llm/benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add fully_shard_by_dtype
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/distributed/parallelizer_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/recipes/llm/benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/distributed/parallelizer_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add recipe for generation and comparison with HF model for custom MoEs
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
  examples/benchmark/configs/qwen3_next_torch.yaml
  nemo_automodel/recipes/llm/generate_and_compare.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/generate_and_compare.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

chore(beep boop 🤖): Bump `uv.lock` (r0.1.0) (2025-11-10)
  uv.lock
Owners: none

use uv
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

debug
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

fix: allow for both confignode and simplenamedspace
  nemo_automodel/recipes/llm/benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

qwen3 next
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  nemo_automodel/recipes/llm/generate_and_compare.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/distributed/parallelizer.py
  tests/unit_tests/distributed/test_parallelization_strategies.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix collate
  nemo_automodel/components/datasets/vlm/collate_fns.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update attn mask
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

switch to sdpa
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add wandb to benchmark recipe + qwen3 next and glm 4.5 air configs (#613)
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  nemo_automodel/recipes/llm/benchmark.py
  tests/unit_tests/recipes/llm/test_benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add wandb to benchmark recipe + qwen3 next and glm 4.5 air configs (#613)
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  nemo_automodel/recipes/llm/benchmark.py
  tests/unit_tests/recipes/llm/test_benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

qwen3 moe
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  nemo_automodel/recipes/llm/generate_and_compare.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: mlflow integration (#715)
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
  nemo_automodel/components/loggers/mlflow_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  pyproject.toml
  tests/unit_tests/loggers/test_mlflow_utils.py
  tests/unit_tests/training/test_train_ft_mlflow_logging.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai, @nvidia-nemo/automation

feat: mlflow integration (#715)
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
  nemo_automodel/components/loggers/mlflow_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  pyproject.toml
  tests/unit_tests/loggers/test_mlflow_utils.py
  tests/unit_tests/training/test_train_ft_mlflow_logging.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai, @nvidia-nemo/automation

add test
  tests/unit_tests/distributed/test_parallelizer_utils.py
Owners: none

Update CVE constraints
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Change loss and gradient to match HF
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update unit test
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
Owners: none
