Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Review docs (#749)
  docs/guides/llm/pretraining.md
  docs/guides/overview.md
  docs/index.md
  docs/launcher/cluster.md
  docs/launcher/local-workstation.md
  docs/model-coverage/overview.md
Owners: none

feat: Review docs (#749)
  docs/guides/llm/pretraining.md
  docs/guides/overview.md
  docs/index.md
  docs/launcher/cluster.md
  docs/launcher/local-workstation.md
  docs/model-coverage/overview.md
Owners: none

fix test
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_model.py
Owners: none

fix: Update is_hf_model to exclude custom models
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Address CVE and remove duplicate (#765)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

ci: Address CVE and remove duplicate (#765)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

fix tests
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
Owners: none

fix
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

feat: add fully_shard_by_dtype (#614)
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/distributed/parallelizer_utils.py
  tests/unit_tests/distributed/test_parallelization_strategies.py
  tests/unit_tests/distributed/test_parallelizer_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add fully_shard_by_dtype (#614)
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/distributed/parallelizer_utils.py
  tests/unit_tests/distributed/test_parallelization_strategies.py
  tests/unit_tests/distributed/test_parallelizer_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix test
  nemo_automodel/components/attention/utils.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add mfu estimation for lora (#786)
  nemo_automodel/recipes/llm/benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add mfu estimation for lora (#786)
  nemo_automodel/recipes/llm/benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix param info and better explanation of the tflops calculation
  nemo_automodel/recipes/llm/benchmark.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add datapoint
  docs/performance-summary.md
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/pipelining/functional.py
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

raise exception with qat + peft
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Update is_hf_model to exclude custom models (#789)
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Update is_hf_model to exclude custom models (#789)
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: vlm ep and qwen omni custom implementation (#742)
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/_transformers/registry.py
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/models/qwen3_moe/layers.py
  nemo_automodel/components/models/qwen3_omni_moe/__init__.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
  nemo_automodel/components/models/qwen3_omni_moe/state_dict_adapter.py
  nemo_automodel/components/moe/fsdp_mixin.py
  nemo_automodel/components/moe/parallelizer.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_model.py
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_state_dict_adapter.py
  tests/unit_tests/moe/test_fsdp_mixin.py
  tests/unit_tests/moe/test_parallelizer.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: vlm ep and qwen omni custom implementation (#742)
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/_transformers/registry.py
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/models/qwen3_moe/layers.py
  nemo_automodel/components/models/qwen3_omni_moe/__init__.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
  nemo_automodel/components/models/qwen3_omni_moe/state_dict_adapter.py
  nemo_automodel/components/moe/fsdp_mixin.py
  nemo_automodel/components/moe/parallelizer.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_model.py
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_state_dict_adapter.py
  tests/unit_tests/moe/test_fsdp_mixin.py
  tests/unit_tests/moe/test_parallelizer.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix ci tests
  nemo_automodel/components/distributed/pipelining/functional.py
  tests/unit_tests/distributed/pipelining/test_functional.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Support clip_grad_norm for all parallelisms
  nemo_automodel/components/training/utils.py
  tests/unit_tests/training/test_train_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add l2 test
  .github/workflows/cicd-main.yml
  tests/functional_tests/clip_grad_norm/L2_ClipGradNorm_Test.sh
  tests/functional_tests/clip_grad_norm/run_clip_grad_norm.py
  tests/functional_tests/clip_grad_norm/test_clip_grad_norm.py
Owners: @nvidia-nemo/automation

simplify
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  uv.lock
Owners: none

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  docker/common/uv-pytorch.lock
Owners: @nvidia-nemo/automation

fix ci tests
  tests/unit_tests/distributed/pipelining/test_pipeline_splitting.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

fix
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

fix ci tests
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

removing split across pack
  nemo_automodel/components/datasets/llm/packed_sequence.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update
  examples/llm_finetune/llama3_2/llama3_2_1b_hellaswag.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

unit test fix
  tests/unit_tests/datasets/llm/test_packed_sequence.py
Owners: none

feat: Support clip_grad_norm for all parallelisms (#791)
  .github/workflows/cicd-main.yml
  nemo_automodel/components/training/utils.py
  tests/functional_tests/clip_grad_norm/L2_ClipGradNorm_Test.sh
  tests/functional_tests/clip_grad_norm/run_clip_grad_norm.py
  tests/functional_tests/clip_grad_norm/test_clip_grad_norm.py
  tests/unit_tests/training/test_train_utils.py
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Support clip_grad_norm for all parallelisms (#791)
  .github/workflows/cicd-main.yml
  nemo_automodel/components/training/utils.py
  tests/functional_tests/clip_grad_norm/L2_ClipGradNorm_Test.sh
  tests/functional_tests/clip_grad_norm/run_clip_grad_norm.py
  tests/functional_tests/clip_grad_norm/test_clip_grad_norm.py
  tests/unit_tests/training/test_train_utils.py
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

perf: Update lora tflops explanation and best LoRA datapoint and recipe (#790)
  docs/performance-summary.md
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/pipelining/functional.py
  nemo_automodel/recipes/llm/benchmark.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/unit_tests/distributed/pipelining/test_functional.py
  tests/unit_tests/distributed/pipelining/test_pipeline_splitting.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

perf: Update lora tflops explanation and best LoRA datapoint and recipe (#790)
  docs/performance-summary.md
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/pipelining/functional.py
  nemo_automodel/recipes/llm/benchmark.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/unit_tests/distributed/pipelining/test_functional.py
  tests/unit_tests/distributed/pipelining/test_pipeline_splitting.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Ensure target device for clip_grad_norm
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
