Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update timm version
  pyproject.toml
Owners: @nvidia-nemo/automation

skip sp plans
  nemo_automodel/components/distributed/optimized_tp_plans.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Reorg import
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/utils/test_utils.py
Owners: none

fix
  tests/utils/test_utils.py
Owners: none

make qat bf16-only
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: adding flags for special tokens & chat template in column mapped dataset (844)` into `r0.2.0` (#865)
  examples/biencoder/llama3_2_1b_biencoder.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_gpt2.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
  tests/unit_tests/datasets/llm/test_squad.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: NeMoAutoTokenizer checkpoint fix (#869)
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: test process launcher error propagation (#871)
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/utils/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: test process launcher error propagation (#871)
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/utils/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: test process launcher error propagation (#871)
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/utils/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: test process launcher error propagation (871)` into `r0.2.0` (#872)
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/utils/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update yaml
  examples/vlm_finetune/qwen3/qwen3_vl_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

set attn param
  nemo_automodel/components/attention/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update to account for ep1
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add callback support for finetune and other recipes (#805)
  examples/llm_finetune/finetune_with_callback.py
  nemo_automodel/_cli/app.py
  nemo_automodel/components/callbacks/__init__.py
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/recipes/test_callbacks.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add glm 4.5 air finetuning config
  examples/llm_finetune/glm/glm_4.5_air_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

rm ooth yaml
  examples/vlm_finetune/qwen3/qwen3_vl_30b.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

unit test
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

Add and refine docs for callback
  docs/guides/callbacks.md
  docs/index.md
  examples/llm_finetune/finetune_with_callback.py
  examples/vlm_generate/generate.py
  nemo_automodel/_cli/app.py
  nemo_automodel/components/callbacks/__init__.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

clean up
  examples/vlm_generate/generate.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update config
  examples/vlm_finetune/qwen3/qwen3_vl_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

do not pass causal mask
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/models/qwen3_vl_moe/model.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/models/qwen3_vl_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/models/qwen3_vl_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update test
  tests/unit_tests/models/qwen3_vl_moe/test_qwen3_vl_moe_model.py
Owners: none

change to right padding
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: no meta init when `force_hf` (#874)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: no meta init when `force_hf` (#874)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: no meta init when `force_hf` (#874)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: no meta init when `force_hf` (874)` into `r0.2.0` (#876)
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update fsdp mixin patches for torch 2.9 and fix perf regression for custom MoEs
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  nemo_automodel/components/distributed/pipelining/functional.py
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/fsdp_mixin.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/moe/test_fsdp_mixin.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Bump torch
  pyproject.toml
Owners: @nvidia-nemo/automation

fix
  nemo_automodel/_transformers/auto_tokenizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/_transformers/auto_tokenizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix test
  tests/unit_tests/_transformers/test_auto_tokenizer.py
Owners: none

fix
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
