Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

fix: Ensure target device for clip_grad_norm (#793)
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Ensure target device for clip_grad_norm (#793)
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

flag
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding perma meta device
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding unit tests
  tests/unit_tests/utils/test_model_utils.py
Owners: none

finalizing configs
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_2layer_proxy_torch_sdpa.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/components/utils/model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing tests
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

Include megatron Makefile in package data
  pyproject.toml
Owners: @nvidia-nemo/automation

add mamba dependency
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

feat: auto detect base weights dequant (#796)
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: auto detect base weights dequant (#796)
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: auto detect base weights dequant (#796)
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Raise informative error in MegatronPretraining if no glob paths found
  nemo_automodel/components/datasets/llm/megatron_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding change needed in conjunction w/ meta device default
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_hf.yaml
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_nn.yaml
Owners: none

perf: add qwen2.5 32b lora perf
  docs/performance-summary.md
Owners: none

add recipe
  examples/llm_finetune/qwen/qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

perf: add qwen2.5 32b lora perf
  docs/performance-summary.md
Owners: none

add tests
  tests/unit_tests/models/llama/test_llama_custom_model.py
  tests/unit_tests/models/qwen2/test_qwen2_custom_model.py
Owners: none

refactor combined projection
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/models/common/README.md
  nemo_automodel/components/models/common/__init__.py
  nemo_automodel/components/models/common/combined_projection/__init__.py
  nemo_automodel/components/models/common/combined_projection/combined_mlp.py
  nemo_automodel/components/models/common/combined_projection/combined_qkv.py
  nemo_automodel/components/models/common/state_dict_adapter.py
  nemo_automodel/components/models/llama/llama.py
  nemo_automodel/components/models/qwen2/__init__.py
  nemo_automodel/components/models/qwen2/qwen2.py
  nemo_automodel/components/models/qwen2/state_dict_adapter.py
  tests/run_test.sh
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update tests with tmp random weights
  tests/run_test.sh
  tests/unit_tests/models/llama/test_llama_custom_model.py
  tests/unit_tests/models/qwen2/test_qwen2_custom_model.py
Owners: none

more test fixes
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/training/test_meta_device_sft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

tests: add unit test for empty glob in get_list_of_files
  tests/unit_tests/datasets/llm/test_megatron_dataset.py
Owners: none

Change optimizer
  examples/biencoder/llama3_2_1b_biencoder.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Raise informative error in ``MegatronPretraining`` if no glob paths found (#803)
  nemo_automodel/components/datasets/llm/megatron_dataset.py
  tests/unit_tests/datasets/llm/test_megatron_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Raise informative error in ``MegatronPretraining`` if no glob paths found (#803)
  nemo_automodel/components/datasets/llm/megatron_dataset.py
  tests/unit_tests/datasets/llm/test_megatron_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Raise informative error in ``MegatronPretraining`` if no glob paths found (#803)
  nemo_automodel/components/datasets/llm/megatron_dataset.py
  tests/unit_tests/datasets/llm/test_megatron_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Use uv Python for MCore dataset compilation (#438)
  nemo_automodel/components/datasets/llm/megatron/Makefile
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add qwen3 vl 30b ootb recipe
  examples/vlm_finetune/qwen3/qwen3_vl_30b.yaml
  nemo_automodel/components/datasets/vlm/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

refactor + trust_remote_code logic
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing tests
  nemo_automodel/_transformers/auto_model.py
  tests/unit_tests/_transformers/test_auto_model.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding custom model code saving
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding unit test
  tests/unit_tests/checkpoint/test_addons.py
Owners: none

brkpt
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

small bug fix
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

small bug
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/_transformers/test_auto_model.py
Owners: none

small fix
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
Owners: none

Docker install causal-conv1d and mamba
  docker/Dockerfile
Owners: @nvidia-nemo/automation

feat: enable meta device by default (#797)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_2layer_proxy_torch_sdpa.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_hf.yaml
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_nn.yaml
  tests/functional_tests/training/test_meta_device_sft.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
  tests/unit_tests/utils/test_model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: enable meta device by default (#797)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/deepseek_v3_torch.yaml
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_torch.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_torch.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_torch.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_2layer_proxy_torch_sdpa.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_hf.yaml
  tests/functional_tests/pretrain_llm/nanogpt_pretrain_nn.yaml
  tests/functional_tests/training/test_meta_device_sft.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
  tests/unit_tests/utils/test_model_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
