Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

fix
  tests/unit_tests/datasets/llm/test_formatting_utils_options.py
Owners: none

chore: bump pytorch index from cuda 12.8 to 12.9 (#695)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

chore: bump pytorch index from cuda 12.8 to 12.9 (#695)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

fix: explicitly remove lm head from fqn key mapping (#728)
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: explicitly remove lm head from fqn key mapping (#728)
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

move file
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
Owners: none

fix
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/_peft/module_matcher.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/_peft/module_matcher.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Determine tied weights based on data_ptr
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/_peft/module_matcher.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ifx
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: patch transformer dynamiccache (#443)
  .github/actions/test-template/action.yml
  docker/Dockerfile.ci
  docker/common/install.sh
  docker/common/install_conflicting_deps.sh
  docs/environment/local-workstation.md
  docs/guides/fp8_training.md
  docs/guides/llm/knowledge_distillation.md
  docs/guides/llm/mcore_pretraining.md
  docs/guides/llm/nanogpt_pretraining.md
  docs/guides/llm/peft.md
  docs/guides/llm/sft.md
  nemo_automodel/components/_transformers/__init__.py
  nemo_automodel/components/_transformers/auto_model.py
  nemo_automodel/components/_transformers/utils.py
  nemo_automodel/components/models/deepseek_v3/parallelizer.py
  nemo_automodel/components/models/deepseek_v3/state_dict_adapter.py
  nemo_automodel/components/moe/rope_utils.py
  tests/unit_tests/checkpoint/test_consolidate_safetensors.py
  tests/unit_tests/distributed/test_get_parallel_plan.py
  tests/unit_tests/distributed/utils.py
  tests/unit_tests/launcher/config.py
  tests/unit_tests/launcher/template.py
  tests/unit_tests/launcher/utils.py
  tests/unit_tests/models/deepseek_v3/test_layers.py
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Remove repo after install
  docker/Dockerfile
Owners: @nvidia-nemo/automation

Add retrieval dataset
  nemo_automodel/components/datasets/llm/__init__.py
  nemo_automodel/components/datasets/llm/retrieval_collator.py
  nemo_automodel/components/datasets/llm/retrieval_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

improvement from parallelism
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_squad_pack_peft_benchmark.yaml
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallel_styles.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: force hf flag for custom models (#708)
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: force hf flag for custom models (#708)
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Test trigger on push to PR
  .github/workflows/trigger_downstream.yml
Owners: @nvidia-nemo/automation

Update ci syntax
  .github/workflows/trigger_downstream.yml
Owners: @nvidia-nemo/automation

stage
  nemo_automodel/components/checkpoint/_backports/consolidate_hf_safetensors.py
  nemo_automodel/components/moe/layers.py
  nemo_automodel/components/moe/parallelizer.py
  nemo_automodel/components/training/utils.py
  nemo_automodel/recipes/llm/temp.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

stage
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  tools/preprocess_megatron_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add oot parallelism registry
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/functional_tests/datasets/llm/test_column_mapped_text_instruction_dataset.py
Owners: none

update default values & pad_token
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

also print exception
  nemo_automodel/components/config/loader.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add truncation & padding options
  nemo_automodel/components/datasets/llm/chat_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

qat wip
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
  nemo_automodel/components/quantization/qat.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: surface truncating & padding options (#719)
  nemo_automodel/components/config/loader.py
  nemo_automodel/components/datasets/llm/chat_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  tests/functional_tests/datasets/llm/test_column_mapped_text_instruction_dataset.py
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
  tests/unit_tests/datasets/llm/test_column_mapped_text_instruction.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: surface truncating & padding options (#719)
  nemo_automodel/components/config/loader.py
  nemo_automodel/components/datasets/llm/chat_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  tests/functional_tests/datasets/llm/test_column_mapped_text_instruction_dataset.py
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
  tests/unit_tests/datasets/llm/test_column_mapped_text_instruction.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

sample
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/unit_tests/quantization/test_qat.py
Owners: none

simplify
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

constant lr
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lora
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat_peft.yaml
  nemo_automodel/components/quantization/qat.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

better implementation
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallel_styles.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

recipe
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Pip install deepep (#729)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation
