Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Bump cuda to 13.0
  pyproject.toml
Owners: @nvidia-nemo/automation

Update nvidia-sphinx-theme
  uv.lock
Owners: none

update configs
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_medpix.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_medpix_peft.yaml
  examples/vlm_finetune/gemma3n/gemma3n_vl_4b_medpix.yaml
  examples/vlm_finetune/gemma3n/gemma3n_vl_4b_medpix_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update configs
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2_megatron_fsdp.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: support validation for packed sequences when using TE attention (#892)
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: support validation for packed sequences when using TE attention (#892)
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/unit_tests/datasets/vlm/test_collate_fns.py
  tests/unit_tests/datasets/vlm/test_datasets.py
Owners: none

docs: Update nvidia-sphinx-theme (#906)
  uv.lock
Owners: none

docs: Update nvidia-sphinx-theme (#906)
  uv.lock
Owners: none

Update transformers upperbound to v5 rc0
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Update transformers to v5 rc0
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

feat: configurable max clip grad (#904)
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: configurable max clip grad (#904)
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update pyproject.toml
  pyproject.toml
Owners: @nvidia-nemo/automation

Update pyproject.toml
  pyproject.toml
Owners: @nvidia-nemo/automation

feat: vlm multiturn chat support and dataset (#899)
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2_megatron_fsdp.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2_peft.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_medpix.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_medpix_peft.yaml
  examples/vlm_finetune/gemma3n/gemma3n_vl_4b_medpix.yaml
  examples/vlm_finetune/gemma3n/gemma3n_vl_4b_medpix_peft.yaml
  nemo_automodel/components/datasets/vlm/__init__.py
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/datasets/vlm/datasets.py
  nemo_automodel/components/datasets/vlm/utils.py
  tests/unit_tests/datasets/vlm/test_collate_fns.py
  tests/unit_tests/datasets/vlm/test_datasets.py
  tests/unit_tests/datasets/vlm/test_vlm_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: vlm multiturn chat support and dataset (#899)
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2_megatron_fsdp.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_cord_v2_peft.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_medpix.yaml
  examples/vlm_finetune/gemma3/gemma3_vl_4b_medpix_peft.yaml
  examples/vlm_finetune/gemma3n/gemma3n_vl_4b_medpix.yaml
  examples/vlm_finetune/gemma3n/gemma3n_vl_4b_medpix_peft.yaml
  nemo_automodel/components/datasets/vlm/__init__.py
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/datasets/vlm/datasets.py
  nemo_automodel/components/datasets/vlm/utils.py
  tests/unit_tests/datasets/vlm/test_collate_fns.py
  tests/unit_tests/datasets/vlm/test_datasets.py
  tests/unit_tests/datasets/vlm/test_vlm_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix import
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix import
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

hf home
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove debug
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix import
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

meta device and ckptr fix
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

guard
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

rope_param
  nemo_automodel/components/models/deepseek_v3/layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

support older version
  nemo_automodel/recipes/base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix import
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update rope to v5
  nemo_automodel/components/models/deepseek_v3/layers.py
  nemo_automodel/components/models/deepseek_v3/model.py
  nemo_automodel/components/models/deepseek_v3/rope_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
