Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

fix
  CHANGELOG.md
Owners: none

add llama3 70b
  examples/llm_pretrain/llama3_70b_pretrain.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

add llama|qwen 1 gpu peft benchmark
  examples/llm_finetune/llama3_1/llama3_1_8b_peft_benchmark.yaml
  examples/llm_finetune/qwen/qwen2_5_7b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Add container info
  CHANGELOG.md
Owners: none

add llama|qwen 1 gpu peft datapoint
  docs/performance-summary.md
Owners: none

add llama|qwen multi-node peft benchmark scripts
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark_2nodes.yaml
  examples/llm_finetune/qwen/qwen2_5_32b_peft_benchmark_2nodes.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add llama|qwen multi-node peft benchmark datapoints
  docs/performance-summary.md
Owners: none

fix: perf regressions for custom MoEs (#881)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/models/gpt_oss/test_gptoss_rope_utils.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: perf regressions for custom MoEs (#881)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/models/gpt_oss/test_gptoss_rope_utils.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update weight initialization method in LinearLoRA class
  nemo_automodel/components/_peft/lora.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update weight initialization method in LinearLoRA class (#896)
  nemo_automodel/components/_peft/lora.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update weight initialization method in LinearLoRA class (#896)
  nemo_automodel/components/_peft/lora.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add TE rope fusion for custom MoE models
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  nemo_automodel/components/models/deepseek_v3/layers.py
  nemo_automodel/components/models/deepseek_v3/model.py
  nemo_automodel/components/models/deepseek_v3/rope_utils.py
  nemo_automodel/components/models/glm4_moe/layers.py
  nemo_automodel/components/models/glm4_moe/model.py
  nemo_automodel/components/models/gpt_oss/layers.py
  nemo_automodel/components/models/gpt_oss/model.py
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/models/qwen3_moe/layers.py
  nemo_automodel/components/models/qwen3_moe/model.py
  nemo_automodel/components/models/qwen3_next/layers.py
  nemo_automodel/components/models/qwen3_next/model.py
  nemo_automodel/components/moe/parallelizer.py
  nemo_automodel/components/moe/utils.py
  tests/unit_tests/models/deepseek_v3/test_rope_utils.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_model.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

temp
  examples/llm_finetune/phi/customizer.yaml
  nemo_automodel/recipes/llm/rouge.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix gptoss
  nemo_automodel/components/models/gpt_oss/layers.py
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/models/deepseek_v3/rope_utils.py
  nemo_automodel/components/models/gpt_oss/rope_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/models/deepseek_v3/test_rope_utils.py
Owners: none

add multiturn logic
  nemo_automodel/components/datasets/vlm/collate_fns.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add unimm multiturn chat dataset
  nemo_automodel/components/datasets/vlm/datasets.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

refac collate fn
  nemo_automodel/components/datasets/vlm/collate_fns.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

export dataset
  nemo_automodel/components/datasets/vlm/__init__.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove special token registry
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/datasets/vlm/utils.py
  tests/unit_tests/datasets/vlm/test_collate_fns.py
  tests/unit_tests/datasets/vlm/test_vlm_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

move default stop str to util
  nemo_automodel/components/datasets/vlm/collate_fns.py
  tests/unit_tests/datasets/vlm/test_vlm_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

updat tests
  tests/unit_tests/datasets/vlm/test_collate_fns.py
  tests/unit_tests/datasets/vlm/test_vlm_utils.py
Owners: none

format
  nemo_automodel/components/datasets/vlm/collate_fns.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add TE rope fusion for custom MoE models
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
  examples/benchmark/configs/kimi_k2_te_deepep.yaml
  examples/benchmark/configs/moonlight_16b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_30b_te_deepep.yaml
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
  nemo_automodel/components/distributed/cp_utils.py
  nemo_automodel/components/models/deepseek_v3/layers.py
  nemo_automodel/components/models/deepseek_v3/model.py
  nemo_automodel/components/models/deepseek_v3/rope_utils.py
  nemo_automodel/components/models/glm4_moe/layers.py
  nemo_automodel/components/models/glm4_moe/model.py
  nemo_automodel/components/models/gpt_oss/layers.py
  nemo_automodel/components/models/gpt_oss/model.py
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/models/qwen3_moe/layers.py
  nemo_automodel/components/models/qwen3_moe/model.py
  nemo_automodel/components/models/qwen3_next/layers.py
  nemo_automodel/components/models/qwen3_next/model.py
  nemo_automodel/components/moe/parallelizer.py
  nemo_automodel/components/moe/utils.py
  tests/unit_tests/models/deepseek_v3/test_rope_utils.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_model.py
  tests/unit_tests/models/gpt_oss/test_gptoss_rope_utils.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/models/gpt_oss/layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: ci: Update changelog for Automodel 0.2.0 (#894)
  CHANGELOG.md
Owners: none

ci: ci: Update changelog for Automodel 0.2.0 (#894)
  CHANGELOG.md
Owners: none

ci: ci: Update changelog for Automodel 0.2.0 (#894)
  CHANGELOG.md
Owners: none

cp: `ci: ci: Update changelog for Automodel 0.2.0 (894)` into `r0.2.0` (#898)
  CHANGELOG.md
Owners: none

fix decorators
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix decorator
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/qwen2/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update utils.py
  nemo_automodel/components/datasets/vlm/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

state
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lowerbound liger to 0.6.4
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

introduce clip_grad_norm section
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add example
  examples/llm_finetune/llama3_2/llama3_2_1b_squad.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
