Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix CI tests
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/models/llama.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

better recipe
  nemo_automodel/components/distributed/optimized_tp_plans.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

format fix
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallel_styles.py
  nemo_automodel/components/models/llama.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint fix
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/models/llama.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

combined qkv/gate_up with customized model path
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/models/llama.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix OOM
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/models/llama.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

better implementation
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallel_styles.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add more tests
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/unit_tests/models/llama_custom/test_llama_custom_model.py
Owners: none

recipe
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

better recipe
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

replace model name card with local test dir
  tests/unit_tests/models/llama_custom/test_llama_custom_model.py
Owners: none

fix qwen tflops calculate
  nemo_automodel/components/utils/flops_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

respect model dtype by manually model dtype cast
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/models/llama.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

recipe to align well with nemo
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Move self.scale position
  nemo_automodel/components/_peft/lora.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/components/models/llama/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

allow import
  pyproject.toml
Owners: @nvidia-nemo/automation

fmt
  nemo_automodel/components/checkpoint/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove dataset.batch_size since it would be overwritten by scheduler
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/models/llama/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove
  tests/unit_tests/models/llama_custom/test_llama_custom_model.py
Owners: none

format
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/unit_tests/datasets/llm/test_column_mapped_text_instruction_iterable.py
Owners: none

feat: Support PEFT with PP (#740)
  examples/benchmark/configs/peft/llama_3_3_70b_instruct_squad_peft_pp.yaml
  examples/llm_finetune/qwen/qwen3_8b_hellaswag_pp_peft.yaml
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Support PEFT with PP (#740)
  examples/benchmark/configs/peft/llama_3_3_70b_instruct_squad_peft_pp.yaml
  examples/llm_finetune/qwen/qwen3_8b_hellaswag_pp_peft.yaml
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

include test
  tests/functional_tests/hf_transformer_finetune/test_hf_transformer_sft.py
Owners: none

add param overrides
  tests/functional_tests/conftest.py
Owners: none

add more tests
  tests/unit_tests/datasets/llm/test_column_mapped_text_instruction_iterable.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

fix: fixing local TPS for CP (#775)
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: fixing local TPS for CP (#775)
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update pyproject.toml
  pyproject.toml
Owners: @nvidia-nemo/automation

stage
  tests/functional_tests/gt_metrics/gpt_oss_20b_te_deepep.yaml
  tests/functional_tests/gt_metrics/gpt_oss_20b_te_deepep_train.jsonl
Owners: none

feat: Sharding Optimization for Sequence Parallelism/LoRA (#733)
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/checkpoint/state_dict_adapter.py
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallel_styles.py
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/models/llama/__init__.py
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/llama/state_dict_adapter.py
  nemo_automodel/components/utils/flops_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  pyproject.toml
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/test_hf_transformer_sft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai, @nvidia-nemo/automation

feat: Sharding Optimization for Sequence Parallelism/LoRA (#733)
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/checkpoint/state_dict_adapter.py
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallel_styles.py
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/models/llama/__init__.py
  nemo_automodel/components/models/llama/model.py
  nemo_automodel/components/models/llama/state_dict_adapter.py
  nemo_automodel/components/utils/flops_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  pyproject.toml
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_PEFT_Benchmark_Llama_custom.sh
  tests/functional_tests/hf_transformer_finetune/test_hf_transformer_sft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai, @nvidia-nemo/automation

peft bug fix
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding testing util
  tests/functional_tests/conftest.py
  tests/functional_tests/gt_metrics/test_log_compare.py
Owners: none

lint
  tests/functional_tests/gt_metrics/test_log_compare.py
Owners: none

rename
  tests/functional_tests/gt_metrics/gpt_oss_20b_te_deepep_train_EP_8.jsonl
Owners: none

fix
  tests/functional_tests/gt_metrics/gpt_oss_20b_te_deepep.yaml
Owners: none

Update docs/guides/llm/pretraining.md
  docs/guides/llm/pretraining.md
Owners: none

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
