Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

copyright
  nemo_automodel/components/models/qwen3_vl_moe/__init__.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add config
  examples/vlm_finetune/qwen3/qwen3_vl_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

linting
  nemo_automodel/components/models/qwen3_vl_moe/model.py
  nemo_automodel/components/models/qwen3_vl_moe/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

working
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix torch 2.9.0 issue
  nemo_automodel/components/models/qwen2/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding option for force special tokens
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/models/qwen2/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update workflow to use build_test_publish_wheel v0.66.0
  .github/workflows/build-test-publish-wheel.yml
Owners: @nvidia-nemo/automation

cp: `build: Add OSS NOTICES.txt file to docker build (838)` into `r0.2.0` (#842)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

ci: Build bitsandbytes from source (#837)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

ci: Build bitsandbytes from source (#837)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

ci: Build bitsandbytes from source (#837)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

feat: ckpt val loss + run val at ckpt + symlink best ckpt (#828)
  docs/guides/checkpointing.md
  nemo_automodel/components/training/step_scheduler.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_dcp_vlm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_vlm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_hf_sharded_vlm.py
  tests/functional_tests/checkpoint/test_peft.py
  tests/functional_tests/checkpoint/test_peft_vlm.py
  tests/unit_tests/recipes/test_base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: ckpt val loss + run val at ckpt + symlink best ckpt (#828)
  docs/guides/checkpointing.md
  nemo_automodel/components/training/step_scheduler.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_dcp_vlm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_vlm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_hf_sharded_vlm.py
  tests/functional_tests/checkpoint/test_peft.py
  tests/functional_tests/checkpoint/test_peft_vlm.py
  tests/unit_tests/recipes/test_base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: ckpt val loss + run val at ckpt + symlink best ckpt (#828)
  docs/guides/checkpointing.md
  nemo_automodel/components/training/step_scheduler.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_dcp_vlm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_vlm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_hf_sharded_vlm.py
  tests/functional_tests/checkpoint/test_peft.py
  tests/functional_tests/checkpoint/test_peft_vlm.py
  tests/unit_tests/recipes/test_base_recipe.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `ci: Build bitsandbytes from source (837)` into `r0.2.0` (#846)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

add debugs
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Unfreeze classifier head for full fine-tuning and recreate optimizer
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Fix sequence classification metrics: add accuracy and grad_norm
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add a config field to allow user to specify parameters prefixes to skip when loading from base model
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add token_per_second metric
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add more debug logs 2
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

try to fix the key mismatch error when loading hf weights
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update docs for StepScheduler
  nemo_automodel/components/training/step_scheduler.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update MRPC config with stable hyperparameters
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add more debug logs
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

use helper function to comopute gradient norm (distributed-aware)
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Run ruff format on changes
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

use attention mask to compute tps to exclude padding in token count
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Unfreeze classifier head for full fine-tuning when using LoRA (classifier needs full training, not adaptation)
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

try print L2 norm after model weights
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

clean up logs
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Better way to unfreeze classifier head for full fine-tuning
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding tests
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/recipes/llm/rouge.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/datasets/llm/test_squad.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove
  nemo_automodel/recipes/llm/rouge.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove wandb info in yaml
  examples/vlm_finetune/qwen3/qwen3_vl_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update version and contrib
  CONTRIBUTING.md
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update contrib
  CONTRIBUTING.md
Owners: none

Update link
  CONTRIBUTING.md
Owners: none

fix
  nemo_automodel/components/quantization/qat.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/quantization/test_qat.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
