Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

dataset fixes
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing
  nemo_automodel/_transformers/auto_tokenizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

tokenizer
  nemo_automodel/recipes/llm/kd.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

configs
  examples/biencoder/llama3_2_1b_biencoder.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_gpt2.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: sft qat support (704)` into `r0.2.0` (#854)
  examples/llm_finetune/llama3_2/llama3_2_1b_squad_qat.yaml
  nemo_automodel/components/quantization/qat.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/conftest.py
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
  tests/functional_tests/hf_peft/test_hf_peft.py
  tests/unit_tests/quantization/test_qat.py
  tests/utils/test_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing functional test
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
Owners: none

Add fla into extra optional dep group
  docker/Dockerfile
  pyproject.toml
Owners: @nvidia-nemo/automation

Add additional dep for model support
  docker/Dockerfile
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Update to flash-linear-attention
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Add flash-linear-attention
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Fix save checkpoint
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Add conversion script
  examples/biencoder/convert_to_hf.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: revert recipe change for memory fragmentation OOM in Llama3 70B (#818)
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: revert recipe change for memory fragmentation OOM in Llama3 70B (#818)
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: revert recipe change for memory fragmentation OOM in Llama3 70B (#818)
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: revert recipe change for memory fragmentation OOM in Llama3 70B (818)` into `r0.2.0` (#862)
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

skip tests
  tests/unit_tests/distributed/test_optimized_tp_plans.py
Owners: none

fix: update moe finetuning configs to use from_pretrained
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update moe finetuning configs to use from_pretrained (#863)
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update moe finetuning configs to use from_pretrained (#863)
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update moe finetuning configs to use from_pretrained (#863)
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding flags for special tokens & chat template in column mapped dataset (#844)
  examples/biencoder/llama3_2_1b_biencoder.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_gpt2.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
  tests/unit_tests/datasets/llm/test_squad.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding flags for special tokens & chat template in column mapped dataset (#844)
  examples/biencoder/llama3_2_1b_biencoder.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_gpt2.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
  tests/unit_tests/datasets/llm/test_squad.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding flags for special tokens & chat template in column mapped dataset (#844)
  examples/biencoder/llama3_2_1b_biencoder.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_pretrain/deepseekv3_pretrain.yaml
  examples/llm_pretrain/megatron_pretrain_gpt2.yaml
  examples/llm_pretrain/megatron_pretrain_moonlight_16b_te_slurm.yaml
  nemo_automodel/_transformers/auto_tokenizer.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_iterable_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/hf_transformer/test_formatting_utils_options.py
  tests/unit_tests/_transformers/test_auto_tokenizer.py
  tests/unit_tests/datasets/llm/test_squad.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: update moe finetuning configs to use from_pretrained (863)` (#864)
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_deepep.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_next_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Add additional dep for model support (#861)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

ci: Add additional dep for model support (#861)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

ci: Add additional dep for model support (#861)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

cp: `ci: Add additional dep for model support (861)` into `r0.2.0` (#866)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

fix: remove validation for packed seq moe configs
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: remove validation for packed seq moe configs (#867)
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: remove validation for packed seq moe configs (#867)
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: remove validation for packed seq moe configs (#867)
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

bump transformers to 4.57.1
  pyproject.toml
Owners: @nvidia-nemo/automation

cp: `fix: remove validation for packed seq moe configs (867)` into `r0.2.0` (#868)
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  examples/llm_finetune/qwen/qwen3_moe_30b_te_packed_sequence.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
