Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

ci: Pip install deepep (#729)
  docker/Dockerfile
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Install grouped gemm
  docker/Dockerfile
Owners: @nvidia-nemo/automation

do not leak logger level outside tests
  tests/unit_tests/loggers/test_log_utils.py
  tests/unit_tests/utils/test_model_utils.py
Owners: none

Update deepep commit and patch
  docker/Dockerfile
  docker/common/deepep.patch
Owners: @nvidia-nemo/automation

Revert deepep patch
  docker/common/deepep.patch
Owners: @nvidia-nemo/automation

fix
  tests/unit_tests/utils/test_model_utils.py
Owners: none

update config and uvlock
  examples/vlm_finetune/qwen3/qwen3_omni_30b.yaml
  uv.lock
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update uv lock
  docker/common/uv-pytorch.lock
Owners: @nvidia-nemo/automation

format
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Support PEFT with PP
  nemo_automodel/recipes/llm/train_ft.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/qwen/qwen3_8b_hellaswag_pp_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

sequence classification initial commit
  examples/llm_sequence_classification/imdb/imdb_qwen.yaml
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag.yaml
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag_peft.yaml
  examples/llm_sequence_classification/seq_cls.py
  examples/llm_sequence_classification/yelp/yelp_bert.yaml
  nemo_automodel/components/datasets/llm/seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

step
  docs/guides/llm/sequence-classification.md
  docs/index.md
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
  examples/llm_seq_cls/seq_cls.py
  nemo_automodel/components/datasets/llm/seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

rename
  examples/llm_seq_cls/imdb/imdb_qwen.yaml
  examples/llm_seq_cls/seq_cls.py
  examples/llm_seq_cls/yelp/yelp_bert.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add recipe
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag.yaml
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

tmp
  nemo_automodel/components/datasets/utils.py
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Move self.scale position
  nemo_automodel/components/_peft/lora.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update guide
  docs/guides/llm/sequence-classification.md
Owners: none

fix
  docs/guides/llm/sequence-classification.md
Owners: none

simplify
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

rebase
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

move to build function
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

make metric_logger_valid hold multiple loggers
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add unit test
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

fix logging in tests
  tests/unit_tests/loggers/test_log_utils.py
Owners: none

wip
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Increase timeout
  .github/workflows/cicd-main.yml
Owners: @nvidia-nemo/automation

ci: Update DeepEP commit (#738)
  .github/workflows/cicd-main.yml
  docker/Dockerfile
Owners: @nvidia-nemo/automation

ci: Update DeepEP commit (#738)
  .github/workflows/cicd-main.yml
  docker/Dockerfile
Owners: @nvidia-nemo/automation

fix
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_peft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add qat test
  tests/functional_tests/hf_peft/test_hf_peft.py
Owners: none

fix
  tests/functional_tests/hf_peft/L2_HF_PEFT_FSDP2_Checkpoint_qat.sh
Owners: none

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
