Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove visualization_font_size_offset
  nemo_automodel/components/distributed/pipelining/autopipeline.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add qwen3 omni ootb recipe (#739)
  docker/common/uv-pytorch.lock
  examples/vlm_finetune/qwen3/qwen3_omni_30b.yaml
  nemo_automodel/__init__.py
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/distributed/parallelizer.py
  pyproject.toml
  tests/unit_tests/datasets/vlm/test_collate_fns.py
  uv.lock
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add qwen3 omni ootb recipe (#739)
  docker/common/uv-pytorch.lock
  examples/vlm_finetune/qwen3/qwen3_omni_30b.yaml
  nemo_automodel/__init__.py
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/datasets/vlm/collate_fns.py
  nemo_automodel/components/distributed/parallelizer.py
  pyproject.toml
  tests/unit_tests/datasets/vlm/test_collate_fns.py
  uv.lock
Owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix test
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/distributed/pipelining/test_autopipeline.py
Owners: none

feat: fp32 lm_head and fp32 apply_rope options for MoE
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Bump torch upperbound (#649)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

ci: Bump torch upperbound (#649)
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

add test
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_model.py
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_state_dict_adapter.py
  tests/unit_tests/moe/test_fsdp_mixin.py
  tests/unit_tests/moe/test_parallelizer.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
Owners: none

fix
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_model.py
  tests/unit_tests/models/qwen3_omni_moe/test_qwen3_omni_moe_state_dict_adapter.py
  uv.lock
Owners: none

fix: remove stale param visualization_font_size_offset (#772)
  nemo_automodel/components/distributed/pipelining/autopipeline.py
  tests/unit_tests/distributed/pipelining/test_autopipeline.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: remove stale param visualization_font_size_offset (#772)
  nemo_automodel/components/distributed/pipelining/autopipeline.py
  tests/unit_tests/distributed/pipelining/test_autopipeline.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

udpate config
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add sd convert single tensor to hf
  nemo_automodel/components/models/qwen3_omni_moe/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update uvlock
  uv.lock
Owners: none

udpate uv
  uv.lock
Owners: none

fixes
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

step
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

wip
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding custom TP plan
  nemo_automodel/components/distributed/fsdp2.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

introduce ScopedModuleOffloading in KD
  nemo_automodel/components/training/utils.py
  nemo_automodel/recipes/llm/kd.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/recipes/llm/kd.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/recipes/llm/kd.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update checkpointing.py
  nemo_automodel/components/checkpoint/checkpointing.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

revert to upstream
  uv.lock
Owners: none

fix: custom model fixes (#773)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/distributed/fsdp2.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: custom model fixes (#773)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/distributed/fsdp2.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

baby steps
  nemo_automodel/_transformers/auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/unit_tests/training/test_train_utils.py
Owners: none

feat: configurable router precision for moes (#767)
  nemo_automodel/components/moe/layers.py
  nemo_automodel/components/moe/utils.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: configurable router precision for moes (#767)
  nemo_automodel/components/moe/layers.py
  nemo_automodel/components/moe/utils.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add wandb to benchmark recipe + update perf numbers
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  nemo_automodel/recipes/llm/benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/benchmark/configs/gptoss_20b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

qwen3 next
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/recipes/llm/test_benchmark.py
Owners: none

fix
  tests/unit_tests/recipes/llm/test_benchmark.py
Owners: none

fix
  examples/benchmark/configs/glm_4.5_air_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
