Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Add mamba-ssm and causal-conv1d dep (#811)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

cp: `ci: Add mamba-ssm and causal-conv1d dep (811)` into `r0.2.0` (#820)
  docker/Dockerfile
Owners: @nvidia-nemo/automation

fix: torchrun single proc (#814)
  nemo_automodel/components/distributed/init_utils.py
  nemo_automodel/components/loggers/metric_logger.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: torchrun single proc (#814)
  nemo_automodel/components/distributed/init_utils.py
  nemo_automodel/components/loggers/metric_logger.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: torchrun single proc (#814)
  nemo_automodel/components/distributed/init_utils.py
  nemo_automodel/components/loggers/metric_logger.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: refactor model init kwargs + whitelist NVIDIA models (#809)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/_transformers/test_auto_model.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: refactor model init kwargs + whitelist NVIDIA models (#809)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/_transformers/test_auto_model.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: refactor model init kwargs + whitelist NVIDIA models (#809)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/_transformers/test_auto_model.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Set ``max_steps`` config option for nanogpt pretraining (#817)
  examples/llm_pretrain/nanogpt_pretrain.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Set ``max_steps`` config option for nanogpt pretraining (#817)
  examples/llm_pretrain/nanogpt_pretrain.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

bypass check for phi4
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update parallelizer.py
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `fix: torchrun single proc (814)` into `r0.2.0` (#821)
  nemo_automodel/components/distributed/init_utils.py
  nemo_automodel/components/loggers/metric_logger.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Add more baselines
  tests/functional_tests/gt_metrics/baseline_jsonl/gpt_oss_20b_1node_100steps.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/llama_3_1_8b_1node_squad_peft_100steps.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/llama_3_1_8b_1node_squad_sft_100steps.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/llama_3_2_1b_1node_squad_peft_100steps.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/llama_3_2_1b_1node_squad_sft_100steps.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/moonlight_16b_1node_100steps_CP1_EP4_PP2.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/moonlight_16b_1node_100steps_CP1_EP8_PP1.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/moonlight_16b_1node_100steps_CP2_EP4_PP2.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/moonlight_16b_1node_100steps_CP2_EP8_PP1.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/moonlight_16b_1node_100steps_CP4_EP4_PP2.jsonl
  tests/functional_tests/gt_metrics/baseline_jsonl/moonlight_16b_1node_100steps_CP4_EP8_PP1.jsonl
Owners: none

fix: Cast norm to fp32 in clip_grad_norm
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fixing
  nemo_automodel/components/training/step_scheduler.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

chore: add support to create symlink to ckpt dir with lowest val_loss
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `feat: (809)` into `r0.2.0` (#822)
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/utils/model_utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/unit_tests/_transformers/test_auto_model.py
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: ep shard state dict conversion (#815)
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: ep shard state dict conversion (#815)
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: ep shard state dict conversion (#815)
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Cast norm to fp32 in clip_grad_norm (#825)
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Cast norm to fp32 in clip_grad_norm (#825)
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: Cast norm to fp32 in clip_grad_norm (#825)
  nemo_automodel/components/training/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

staging
  nemo_automodel/components/datasets/llm/column_mapped_text_instruction_dataset.py
  nemo_automodel/components/datasets/llm/formatting_utils.py
  tests/unit_tests/datasets/llm/test_tokenizer_apply_functions.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/models/common/combined_projection/combined_qkv.py
  nemo_automodel/components/models/llama/llama.py
  nemo_automodel/components/models/qwen2/qwen2.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

refactor combined projection
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/models/common/README.md
  nemo_automodel/components/models/common/__init__.py
  nemo_automodel/components/models/common/combined_projection/__init__.py
  nemo_automodel/components/models/common/combined_projection/combined_mlp.py
  nemo_automodel/components/models/common/combined_projection/combined_qkv.py
  nemo_automodel/components/models/common/state_dict_adapter.py
  nemo_automodel/components/models/llama/llama.py
  nemo_automodel/components/models/qwen2/__init__.py
  nemo_automodel/components/models/qwen2/qwen2.py
  nemo_automodel/components/models/qwen2/state_dict_adapter.py
  tests/run_test.sh
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update tests with tmp random weights
  tests/run_test.sh
  tests/unit_tests/models/llama/test_llama_custom_model.py
  tests/unit_tests/models/qwen2/test_qwen2_custom_model.py
Owners: none

add tests
  tests/unit_tests/models/llama/test_llama_custom_model.py
  tests/unit_tests/models/qwen2/test_qwen2_custom_model.py
Owners: none

final touches
  nemo_automodel/components/models/common/README.md
  nemo_automodel/components/models/common/__init__.py
  nemo_automodel/components/models/common/combined_projection/state_dict_adapter.py
  nemo_automodel/components/models/llama/state_dict_adapter.py
  nemo_automodel/components/models/qwen2/__init__.py
  nemo_automodel/components/models/qwen2/model.py
  nemo_automodel/components/models/qwen2/state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add custom qwen2 recipe
  examples/llm_finetune/qwen/custom_qwen2_5_32b_peft_benchmark.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding loss saving for ckpt
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix lint
  nemo_automodel/components/models/common/__init__.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding docs
  docs/guides/checkpointing.md
Owners: none

test
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_dcp_vlm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_vlm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_hf_sharded_vlm.py
  tests/functional_tests/checkpoint/test_peft.py
  tests/functional_tests/checkpoint/test_peft_vlm.py
Owners: none

fix lint
  nemo_automodel/components/models/common/combined_projection/__init__.py
  nemo_automodel/components/models/common/combined_projection/combined_mlp.py
  nemo_automodel/components/models/common/combined_projection/state_dict_adapter.py
  nemo_automodel/components/models/llama/state_dict_adapter.py
  nemo_automodel/components/models/qwen2/__init__.py
  nemo_automodel/components/models/qwen2/state_dict_adapter.py
  tests/unit_tests/models/llama/test_llama_custom_model.py
  tests/unit_tests/models/qwen2/test_qwen2_custom_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add train/val loss at checkpoint step (#827)
  docs/guides/checkpointing.md
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  nemo_automodel/components/training/step_scheduler.py
  nemo_automodel/components/training/utils.py
  nemo_automodel/recipes/base_recipe.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/llm/train_seq_cls.py
  nemo_automodel/recipes/vlm/finetune.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_dcp_vlm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_vlm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_hf_sharded_vlm.py
  tests/functional_tests/checkpoint/test_peft.py
  tests/functional_tests/checkpoint/test_peft_vlm.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/qwen/custom_qwen2_5_32b_peft_benchmark.yaml
  nemo_automodel/components/models/llama/__init__.py
  nemo_automodel/components/models/llama/llama.py
  nemo_automodel/components/models/llama/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
