Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

Fix image tag in README.md
  README.md
Owners: @akoumpa, @HuiyingLi

chore(beep boop 🤖): Bump `uv.lock` (r0.1.0) (2025-11-03)
  uv.lock
Owners: none

rename
  examples/llm_seq_cls/imdb/imdb_qwen.yaml
  examples/llm_seq_cls/seq_cls.py
  examples/llm_seq_cls/yelp/yelp_bert.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

sequence classification initial commit
  examples/llm_sequence_classification/imdb/imdb_qwen.yaml
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag.yaml
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag_peft.yaml
  examples/llm_sequence_classification/seq_cls.py
  examples/llm_sequence_classification/yelp/yelp_bert.yaml
  nemo_automodel/components/datasets/llm/seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag.yaml
  examples/llm_sequence_classification/qwen/qwen3_0p6b_hellaswag_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  docs/guides/llm/sequence-classification.md
Owners: none

add recipe
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

simplify
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update guide
  docs/guides/llm/sequence-classification.md
Owners: none

step
  docs/guides/llm/sequence-classification.md
  docs/index.md
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
  examples/llm_seq_cls/seq_cls.py
  nemo_automodel/components/datasets/llm/seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

tmp
  nemo_automodel/components/datasets/utils.py
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

docs: Update README to reflect PyTorch Distributed instead of DTensor (#752)
  README.md
Owners: @akoumpa, @HuiyingLi

docs: Update README to reflect PyTorch Distributed instead of DTensor (#752)
  README.md
Owners: @akoumpa, @HuiyingLi

add instantiate_path
  nemo_automodel/components/config/loader.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

rename
  nemo_automodel/components/config/loader.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update collater
  nemo_automodel/components/datasets/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove
  examples/llm_seq_cls/imdb/imdb_qwen.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove
  examples/llm_seq_cls/yelp/yelp_bert.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

remove yelp & imdb datasets
  nemo_automodel/components/datasets/llm/seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ifx
  nemo_automodel/components/checkpoint/addons.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add wandb
  nemo_automodel/recipes/llm/train_seq_cls.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

udpate config
  examples/llm_seq_cls/glue/mrpc_roberta_lora.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update guide
  docs/guides/llm/sequence-classification.md
Owners: none

add oot parallelism registry
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/distributed/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/components/distributed/parallelizer.py
  tests/unit_tests/distributed/test_register_parallel_strategy.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add name arg
  nemo_automodel/components/distributed/parallelizer.py
  tests/unit_tests/distributed/test_register_parallel_strategy.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  nemo_automodel/components/distributed/parallelizer.py
  tests/unit_tests/distributed/test_register_parallel_strategy.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding rank0 download for custom models
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  nemo_automodel/_transformers/auto_model.py
  tests/unit_tests/_transformers/test_auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

adding dist handler
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

refac rope
  nemo_automodel/components/models/qwen3_omni_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update billama implementation
  nemo_automodel/components/models/biencoder/__init__.py
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: support multiple validation datasets and per-dataset logging (#537)
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_peft.py
  tests/unit_tests/loggers/test_log_utils.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: support multiple validation datasets and per-dataset logging (#537)
  nemo_automodel/recipes/llm/kd.py
  nemo_automodel/recipes/llm/train_ft.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_peft.py
  tests/unit_tests/loggers/test_log_utils.py
  tests/unit_tests/recipes/test_train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update token cnt in vlm
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update moe in vlm
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add rule for qwen3omni tie embed.
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update uv
  uv.lock
Owners: none

add test
  nemo_automodel/components/config/loader.py
  tests/unit_tests/config/test_allowed_import_prefixes.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai
