Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding SIGTERM handling (#755)
  nemo_automodel/components/training/signal_handler.py
  nemo_automodel/components/training/step_scheduler.py
  tests/unit_tests/components/training/test_signal_handler.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

refac
  nemo_automodel/components/models/qwen3_omni_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update upperbound of torch
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

fix
  nemo_automodel/components/models/qwen3_omni_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding rank0 download for custom models (#754)
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  nemo_automodel/_transformers/auto_model.py
  tests/unit_tests/_transformers/test_auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: adding rank0 download for custom models (#754)
  examples/llm_finetune/gpt_oss/gpt_oss_120b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te.yaml
  examples/llm_finetune/moonlight/moonlight_16b_te_packed_sequence.yaml
  nemo_automodel/_transformers/auto_model.py
  tests/unit_tests/_transformers/test_auto_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

support lora with te
  nemo_automodel/components/_peft/lora.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

refac
  nemo_automodel/components/models/qwen3_omni_moe/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

extend matching
  nemo_automodel/components/_peft/module_matcher.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/unit_tests/_peft/test_module_matcher.py
Owners: none

fmt
  nemo_automodel/components/_peft/module_matcher.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/_peft/lora.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix padding
  tests/functional_tests/hf_dcp/L2_DCP_PP2_Checkpoint.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_Qwen3_MoE_custom.sh
Owners: none

fix
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update dep
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

feat: Add convert_single_tensor_to_hf API for state dict adapter (#759)
  nemo_automodel/components/checkpoint/state_dict_adapter.py
  nemo_automodel/components/models/deepseek_v3/state_dict_adapter.py
  nemo_automodel/components/models/glm4_moe/state_dict_adapter.py
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  nemo_automodel/components/models/qwen3_moe/state_dict_adapter.py
  nemo_automodel/components/models/qwen3_next/state_dict_adapter.py
  nemo_automodel/components/moe/state_dict_mixin.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_state_dict_adapter.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_state_dict_adapter.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_state_dict_adapter.py
  tests/unit_tests/moe/test_state_dict_mixin.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Add convert_single_tensor_to_hf API for state dict adapter (#759)
  nemo_automodel/components/checkpoint/state_dict_adapter.py
  nemo_automodel/components/models/deepseek_v3/state_dict_adapter.py
  nemo_automodel/components/models/glm4_moe/state_dict_adapter.py
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  nemo_automodel/components/models/qwen3_moe/state_dict_adapter.py
  nemo_automodel/components/models/qwen3_next/state_dict_adapter.py
  nemo_automodel/components/moe/state_dict_mixin.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_state_dict_adapter.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_state_dict_adapter.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_state_dict_adapter.py
  tests/unit_tests/moe/test_state_dict_mixin.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: configurable router precision for moes
  nemo_automodel/components/moe/layers.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/moe/layers.py
  nemo_automodel/components/moe/utils.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

skip
  tests/unit_tests/_peft/test_module_matcher.py
Owners: none

add recipe
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark.yaml
  examples/llm_finetune/llama3_3/llama3_3_70b_instruct_peft_benchmark_tp.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Add training recipe
  examples/biencoder/finetune.py
  examples/biencoder/llama3_2_1b_biencoder.yaml
  nemo_automodel/components/datasets/llm/retrieval_collator.py
  nemo_automodel/components/models/biencoder/__init__.py
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
  nemo_automodel/recipes/biencoder/__init__.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update truncate logic (#757)
  nemo_automodel/components/datasets/llm/formatting_utils.py
  nemo_automodel/components/datasets/llm/squad.py
  tests/functional_tests/conftest.py
  tests/functional_tests/hf_consolidated_fsdp/L2_HF_Consolidated_PP2_LLM_Checkpoint.sh
  tests/functional_tests/hf_dcp/L2_DCP_PP2_Checkpoint.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_Qwen3_MoE_custom.sh
  tests/unit_tests/datasets/llm/test_squad.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: update truncate logic (#757)
  nemo_automodel/components/datasets/llm/formatting_utils.py
  nemo_automodel/components/datasets/llm/squad.py
  tests/functional_tests/conftest.py
  tests/functional_tests/hf_consolidated_fsdp/L2_HF_Consolidated_PP2_LLM_Checkpoint.sh
  tests/functional_tests/hf_dcp/L2_DCP_PP2_Checkpoint.sh
  tests/functional_tests/hf_transformer_finetune/L2_HF_Transformer_Qwen3_MoE_custom.sh
  tests/unit_tests/datasets/llm/test_squad.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

multiple updates and fixes for vlm recipe
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

clean up config
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

reset uv to main
  uv.lock
Owners: none

removed psutil from pyproject.toml
  pyproject.toml
Owners: @nvidia-nemo/automation

format
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/models/qwen3_moe/layers.py
  nemo_automodel/components/models/qwen3_omni_moe/__init__.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
  nemo_automodel/components/models/qwen3_omni_moe/state_dict_adapter.py
  nemo_automodel/components/moe/fsdp_mixin.py
  nemo_automodel/components/moe/parallelizer.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update comment
  nemo_automodel/components/moe/fsdp_mixin.py
  nemo_automodel/components/moe/parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

format
  nemo_automodel/components/models/qwen3_moe/layers.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: support lora with te (#766)
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/_peft/module_matcher.py
  tests/unit_tests/_peft/test_module_matcher.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: support lora with te (#766)
  examples/llm_finetune/gpt_oss/gpt_oss_20b_single_gpu_peft.yaml
  nemo_automodel/components/_peft/lora.py
  nemo_automodel/components/_peft/module_matcher.py
  tests/unit_tests/_peft/test_module_matcher.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fmt fix
  nemo_automodel/components/checkpoint/stateful_wrappers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update test
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
Owners: none

fix test
  tests/unit_tests/recipes/test_finetune_vlm_helpers.py
Owners: none

Update to latest transformers version 4.57.1
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
