Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi

qwen3 next
  examples/benchmark/configs/qwen3_next_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/recipes/llm/test_benchmark.py
Owners: none

fix
  tests/unit_tests/recipes/llm/test_benchmark.py
Owners: none

feat: Add wandb to benchmark recipe + update perf numbers
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  nemo_automodel/recipes/llm/benchmark.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Add biencoder model
  nemo_automodel/components/models/biencoder/__init__.py
  nemo_automodel/components/models/biencoder/biencoder_model.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

vlm ep + qwen omni custom impl
  nemo_automodel/_transformers/registry.py
  nemo_automodel/components/models/qwen3_moe/layers.py
  nemo_automodel/components/models/qwen3_omni_moe/__init__.py
  nemo_automodel/components/models/qwen3_omni_moe/model.py
  nemo_automodel/components/models/qwen3_omni_moe/state_dict_adapter.py
  nemo_automodel/components/moe/fsdp_mixin.py
  nemo_automodel/components/moe/parallelizer.py
  nemo_automodel/recipes/vlm/finetune.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add custom config
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update backend in yaml
  examples/vlm_finetune/qwen3/qwen3_omni_moe_30b_te_deepep.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update contrib
  CONTRIBUTING.md
Owners: none

Update bracket
  CONTRIBUTING.md
Owners: none

fix
  nemo_automodel/recipes/llm/kd.py
  tests/functional_tests/checkpoint/test_dcp.py
  tests/functional_tests/checkpoint/test_dcp_vlm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_llm.py
  tests/functional_tests/checkpoint/test_hf_consolidated_vlm.py
  tests/functional_tests/checkpoint/test_hf_sharded.py
  tests/functional_tests/checkpoint/test_hf_sharded_vlm.py
  tests/functional_tests/checkpoint/test_peft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint
  nemo_automodel/recipes/llm/kd.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/functional_tests/checkpoint/test_hf_consolidated_vlm.py
  tests/functional_tests/checkpoint/test_hf_sharded_vlm.py
Owners: none

introduce NEMO_ENABLE_USER_MODULES
  nemo_automodel/components/config/loader.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  nemo_automodel/components/config/loader.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Testing update transformers version
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

misc
  docs/guides/llm/pretraining.md
  docs/guides/overview.md
  docs/index.md
  docs/launcher/cluster.md
  docs/launcher/local-workstation.md
  docs/model-coverage/overview.md
Owners: none

fix
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/recipes/test_train_ft.py
Owners: none

fix
  tests/functional_tests/checkpoint/test_dcp_vlm.py
Owners: none

combined qkv/gate_up with customized model path
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/models/llama.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
Owners: none

fix
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Support TE attention for gptoss
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/models/gpt_oss/layers.py
  nemo_automodel/components/models/gpt_oss/model.py
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  nemo_automodel/shared/import_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix
  tests/unit_tests/attention/test_attention_utils.py
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
  tests/unit_tests/shared/test_import_utils.py
Owners: none

fix
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_model.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
Owners: none

fix
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
Owners: none

fmt
  nemo_automodel/components/config/loader.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/functional_tests/hf_transformer_llm/L2_HF_Transformer_LLM_FSDP2_TP2_odd_vocab.sh
  tests/functional_tests/hf_transformer_llm/test_hf_transformer_llm.py
Owners: none

update
  tests/functional_tests/hf_transformer_llm/L2_HF_Transformer_LLM_FSDP2_TP2_odd_vocab.sh
Owners: none

update path
  tests/functional_tests/hf_transformer_llm/L2_HF_Transformer_LLM_FSDP2_TP2_odd_vocab.sh
Owners: none

add fully_shard_by_dtype
  nemo_automodel/components/distributed/parallelizer.py
  nemo_automodel/components/distributed/parallelizer_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix OOM
  examples/llm_finetune/llama3_3/custom_llama3_3_70b_instruct_peft_benchmark.yaml
  nemo_automodel/components/distributed/optimized_tp_plans.py
  nemo_automodel/components/models/llama.py
  nemo_automodel/recipes/llm/train_ft.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Support TE attention for gptoss (#732)
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/models/gpt_oss/layers.py
  nemo_automodel/components/models/gpt_oss/model.py
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  nemo_automodel/shared/import_utils.py
  tests/unit_tests/attention/test_attention_utils.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_model.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
  tests/unit_tests/shared/test_import_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: Support TE attention for gptoss (#732)
  examples/llm_finetune/gpt_oss/gpt_oss_20b.yaml
  nemo_automodel/components/attention/utils.py
  nemo_automodel/components/models/gpt_oss/layers.py
  nemo_automodel/components/models/gpt_oss/model.py
  nemo_automodel/components/models/gpt_oss/state_dict_adapter.py
  nemo_automodel/shared/import_utils.py
  tests/unit_tests/attention/test_attention_utils.py
  tests/unit_tests/models/deepseek_v3/test_dsv3_layers.py
  tests/unit_tests/models/glm4_moe/test_glm4_moe_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_layers.py
  tests/unit_tests/models/gpt_oss/test_gptoss_model.py
  tests/unit_tests/models/gpt_oss/test_gptoss_state_dict_adapter.py
  tests/unit_tests/models/qwen3_moe/test_qwen3_moe_layers.py
  tests/unit_tests/models/qwen3_next/test_qwen3_next_layers.py
  tests/unit_tests/shared/test_import_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Update to latest transformers version
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Update uv lock
  uv.lock
Owners: none

Update to latest transformers version
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Update README to reflect PyTorch Distributed instead of DTensor
  README.md
Owners: @akoumpa, @HuiyingLi
