Repository NVIDIA-NeMo/Automodel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/automation, @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update utils
  nemo_automodel/components/checkpoint/utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Initial PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @nvidia-nemo/automation

Initial PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @nvidia-nemo/automation

Revert "Initial PR template"
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @nvidia-nemo/automation

Revert "Initial PR template"
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @nvidia-nemo/automation

Initial PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @nvidia-nemo/automation

ci: Initial PR template (#925)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @nvidia-nemo/automation

ci: Initial PR template (#925)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @nvidia-nemo/automation

Reorganize optional dependency
  CONTRIBUTING.md
  pyproject.toml
Owners: @nvidia-nemo/automation

Update uv lock
  docker/common/uv-pytorch.lock
  uv.lock
Owners: @nvidia-nemo/automation

Update contrib link
  CONTRIBUTING.md
Owners: none

Bump to 0.2.0
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Bump to 0.2.0 (#927)
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Bump to 0.2.0 (#927)
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Bump to 0.2.0 (#927)
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

cp: `ci: Bump to 0.2.0 (927)` into `r0.2.0` (#928)
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: perf regressions for custom MoEs (#881)
  examples/benchmark/configs/deepseek_v3_te_deepep.yaml
  examples/benchmark/configs/deepseek_v3_te_deepep_1024.yaml
  examples/benchmark/configs/gptoss_120b_te_deepep.yaml
  examples/benchmark/configs/qwen3_moe_235b_te_deepep.yaml
  nemo_automodel/components/models/gpt_oss/rope_utils.py
  nemo_automodel/components/moe/parallelizer.py
  tests/unit_tests/models/gpt_oss/test_gptoss_rope_utils.py
  tests/unit_tests/models/gpt_oss/test_rope_utils.py
  tests/unit_tests/moe/test_parallelizer.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

split known issues from limitations
  CHANGELOG.md
Owners: none

feat: update change log for r.0.2.0 (#921)
  CHANGELOG.md
Owners: none

feat: update change log for r.0.2.0 (#921)
  CHANGELOG.md
Owners: none

feat: update change log for r.0.2.0 (#921)
  CHANGELOG.md
Owners: none

cp: `feat: update change log for r.0.2.0 (921)` into `r0.2.0` (#930)
  CHANGELOG.md
Owners: none

beep boop 🤖: Bumping to v0.2.1
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

beep boop 🤖: Bumping to v0.2.1
  nemo_automodel/package_info.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

ci: Reorganize optional dependency (#926)
  CONTRIBUTING.md
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

ci: Reorganize optional dependency (#926)
  CONTRIBUTING.md
  docker/common/uv-pytorch.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/automation

Updates biencoder training to utilize all available positive documents for a query by cycling through them based on the current epoch, instead of always using the first one
  nemo_automodel/components/datasets/llm/retrieval_dataset.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
  tests/unit_tests/datasets/llm/test_retrieval_dataset.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Support HF consolidated checkpoint
  nemo_automodel/components/checkpoint/addons.py
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
  nemo_automodel/components/models/biencoder/state_dict_adapter.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

port ministral3 as custom model
  nemo_automodel/components/models/mistral3/__init__.py
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

update copyright
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add test
  tests/unit_tests/models/mistral3/test_mistral3_model.py
Owners: none

lint fix
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

lint fix
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add ministral3 configs and improve tie_emb detection (#915)
  examples/vlm_finetune/mistral/ministral3_14b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_3b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_8b_medpix.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/checkpoint/utils.py
  tests/unit_tests/checkpoint/test_addons.py
  tests/unit_tests/utils/test_checkpoint_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

feat: add ministral3 configs and improve tie_emb detection (#915)
  examples/vlm_finetune/mistral/ministral3_14b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_3b_medpix.yaml
  examples/vlm_finetune/mistral/ministral3_8b_medpix.yaml
  nemo_automodel/components/checkpoint/checkpointing.py
  nemo_automodel/components/checkpoint/stateful_wrappers.py
  nemo_automodel/components/checkpoint/utils.py
  tests/unit_tests/checkpoint/test_addons.py
  tests/unit_tests/utils/test_checkpoint_utils.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

format
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

fix: handle zero active experts for 1 ep rank in GroupedExperts
  nemo_automodel/components/moe/layers.py
  tests/unit_tests/moe/run_zero_active_experts_gradient_test.py
  tests/unit_tests/moe/test_layers.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Normalize loss for gradient accumulation
  examples/biencoder/convert_to_hf.py
  nemo_automodel/recipes/biencoder/train_biencoder.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

Fix AutoModel and AutoConfig
  nemo_automodel/components/models/biencoder/llama_bidirectional_model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

add llm path
  nemo_automodel/_transformers/auto_model.py
  nemo_automodel/components/models/mistral3/model.py
Owners: @akoumpa, @HuiyingLi, @adil-a, @hemildesai

.github/CODEOWNERS:

.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi
