Repository NVIDIA-NeMo/Automodel, pull requests merged in 2025-10, with the labels that each got.

#541 ci: Skip ci on docs only
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: r0.1.0, docs-only

#550 ci(fix): pre-flight
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: r0.1.0, docs-only

#452 fix: update readme
  README.md
Labels: docs-only

#554 cp: `fix: patch transformer dynamiccache (443)` into `r0.1.0`
  nemo_automodel/components/_transformers/utils.py
  nemo_automodel/recipes/llm/train_ft.py
  nemo_automodel/recipes/vlm/finetune.py
Labels: Run CICD, cherry-pick

#590 feat: update docs
  docs/index.md
Labels: docs-only

#560 ci: Update changelog for Automodel 0.1.0
  CHANGELOG.md
Labels: r0.1.0, docs-only
